.om-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(14, 14, 14, 0.15); /* Single border for the whole table */
    padding: 0;
}

.om-table > div:first-child {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 17px;
    background: rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(14, 14, 14, 0.15);
}

.om-table > div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 17px;
    background: rgba(255, 255, 255, 0.1);
}

.om-table > div:last-child > select {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15); /* Add border for the select */
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 5px;
    width: auto; /* Allow the select to shrink to its content */
}
